@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.main-contact {
    display: flex;
    flex-direction: column;
}

.social-icon {
    height: fit-content;
    width: fit-content;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-github {
      background: black;
      color: white;
  }