@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.main-contact {
    display: flex;
    flex-direction: column;
}

.social-icon {
    height: fit-content;
    width: fit-content;
}