@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.portfolio-img {
  max-width: 100%;
  height: auto;
}

.main-contact {
  display: flex;
  flex-direction: column;
}


.fa {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 35px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
  margin-left: 0.2em;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: black;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 100%, #fec564, transparent 50%),
 radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%),
 radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
 radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
 radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
 radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
 radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
 linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
  color: #fff;
}